<div>
  <ion-button (click)="onPickLocation()"  color="primary" expand="block" fill="clear" shape="round">
    <ion-icon name="map" slot="start"></ion-icon>
    <ion-label>Select Location</ion-label>
  </ion-button>
</div>

<div>
  <ion-img [src]='selectedLocationImage' *ngIf="selectedLocationImage"></ion-img>
  <!-- Displays map and ngIf is a validator -->
  <ion-button (click)="onPickLocation()" color="primary" expand="block" fill="clear" shape="round">
  <ion-icon name="map" slot="start"></ion-icon>
  <ion-label>Select Location</ion-label>
</ion-button>
</div>