<ion-app  >
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Listado</ion-title>
  </ion-toolbar>
</ion-header>
      <ion-content fullscreen>
        <ion-list>
          <ion-item *ngFor="let tiendavar of tiendaVar | async"[routerLink]="['./', tiendavar.title, tiendavar.id]">
            <ion-avatar slot="start">
              <img src= "{{ tiendavar.image }} " /> 
            </ion-avatar>
            <ion-label>
              <h2>{{ tiendavar.title }}</h2>
              <p>{{ tiendavar.description }}</p>
            </ion-label>
          </ion-item>
          </ion-list>
        </ion-content>
</ion-app>