<!-- <ion-app *ngFor="let variable of variableCat" > -->

  <!-- <ng-container *ngIf="!variableCat || variableCat.length == 0">
    <div *ngFor="let n of [0,1,2]" padding>
      <ion-skeleton-text></ion-skeleton-text>
      <p>
        <ion-skeleton-text class="fake-skeleton"></ion-skeleton-text>
      </p>
    </div> id: string;
    title: string;
    description: string;
    modelos: detailed [];
    image: string;
  </ng-container> -->
  <ion-app > 
<ion-header>
  <ion-toolbar *ngFor="let item of flatArray| async">
    <ion-back-button defaultHref='/tienda' slot="start"></ion-back-button>
    <ion-title > Categoria: {{ item.title }} </ion-title>
</ion-toolbar>
<ion-button  color="medium" [routerLink]="['./add']">Agregar producto</ion-button>
</ion-header>

<ion-content>
  <div *ngFor="let subItem of catArray| async" [routerLink]="['./',subItem.name, subItem.id]">
  <ion-card>
    <img src= "{{ subItem.image }} " /> 
          <ion-card-header> 
            <ion-card-subtitle>{{ subItem.category }}</ion-card-subtitle>
            <ion-card-title> {{ subItem.name }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Precio: $ {{ subItem.price }}
          </ion-card-content>
  </ion-card> 
</div>
</ion-content>
</ion-app>
