<ion-app>

<ion-header>
  <ion-toolbar>
    <ion-back-button defaultHref='/tienda/detalle' slot="start"></ion-back-button>
    <ion-title>Item: </ion-title>
    <ion-button slot="primary" (click)="deleteItem()">
      <ion-icon name="trash"></ion-icon>
    </ion-button>
  </ion-toolbar>
  <ion-button  color="medium" defaultHref='/map'>Ubicacion</ion-button>
</ion-header>

<ion-content>
  <div *ngFor="let item of catArray| async">
    <ion-card>
        <img src= "{{ item.image }}">
            <ion-card-header>
              <ion-card-subtitle>{{ item.category }}</ion-card-subtitle>
              <ion-card-title> {{ item.name }}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              Precio: $ {{ item.price }}
            </ion-card-content>
    </ion-card>

  </div>
</ion-content>
  </ion-app>