<ion-app>
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button  color="medium" [routerLink]="['/tienda']">Listado</ion-button>
    <ion-title>
      Destacados
    </ion-title>
  </ion-toolbar>
</ion-header>

  <ion-content fullscreen class="ion-padding" scroll-y="false">
    <ion-slides>

      <ion-slide>
        <div class="slide">
          <img src="/assets/images/tshirt_white.jpg"/>
          <h2>UNI-U01</h2>
          <p><b>Unicolor</b>Articulo destacado de cateegoria franlesas Precio $20</p>
        </div>
      </ion-slide>

      <ion-slide>
        <div class="slide">
        <img src="/assets/images/shirt_plain.jpg"/>
        <h2>PLA-P01</h2>
        <p><b>Plain</b> Articulo destacado categoria camisas Precio $40</p>
        </div>
      </ion-slide>

      <ion-slide>
        <div class="slide">
        <img src="/assets/images/jacket_denim.jpg"/>
        <h2>DEN-D01</h2>
        <p><b>Plain</b> Articulo destacado categoria chaquetas Precio $50</p>
      </div>
      </ion-slide>

      <ion-slide>
        <div class="slide">
        <img src="/assets/images/shoes_sport.jpg"/>
        <h2>SPO-S01</h2>
        <p><b>Sports</b> Articulo destacado categoria zapatos Precio $140</p>
      </div>
      </ion-slide>

    </ion-slides>
    </ion-content>
</ion-app>
